<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SmartWatcher.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Smart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SmartIntegrationManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SmartWatcher.Services.Properties.Settings>
            <setting name="FailureArchivePath" serializeAs="String">
                <value>C:\SmartWatcher\archive\failure\</value>
            </setting>
            <setting name="MailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpMailServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="SmtpUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SendOnFailure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendOnSuccess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MailDisplayName" serializeAs="String">
                <value>Integration Service</value>
            </setting>
            <setting name="ReadTries" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SuccessArchivePath" serializeAs="String">
                <value>C:\SmartWatcher\archive\success\</value>
            </setting>
            <setting name="SmaplePlugin_WatchPath" serializeAs="String">
                <value>C:\SmartWatcher\SmaplePlugin\</value>
            </setting>
            <setting name="EnableTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>200</value>
            </setting>
        </SmartWatcher.Services.Properties.Settings>
        <Smart.Properties.Settings>
            <setting name="WatchPath" serializeAs="String">
                <value>C:\SmartIntegration\</value>
            </setting>
            <setting name="FailureArchivePath" serializeAs="String">
                <value>C:\SmartIntegration\archive\failure\</value>
            </setting>
            <setting name="MailAddress" serializeAs="String">
                <value>tammam.koujan@Smart.com</value>
            </setting>
            <setting name="SmtpMailServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="SmtpUserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="SendOnFailure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendOnSuccess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MailDisplayName" serializeAs="String">
                <value>Integration Service</value>
            </setting>
            <setting name="ReadTries" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SuccessArchivePath" serializeAs="String">
                <value>C:\SmartIntegration\archive\success\</value>
            </setting>
            <setting name="SchemaPath" serializeAs="String">
                <value>C:\SmartIntegration\Schema\schema.xsd</value>
            </setting>
        </Smart.Properties.Settings>
        <SmartIntegrationManager.Properties.Settings>
            <setting name="WatchPath" serializeAs="String">
                <value>C:\SmartIntegration\</value>
            </setting>
            <setting name="ArchivePath" serializeAs="String">
                <value>C:\SmartIntegration\archive\</value>
            </setting>
            <setting name="MailAddress" serializeAs="String">
                <value>tammam.koujan@Smart.com</value>
            </setting>
            <setting name="SmtpMailServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="SmtpUserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="SendOnFailure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendOnSuccess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MailDisplayName" serializeAs="String">
                <value>Integration Service</value>
            </setting>
        </SmartIntegrationManager.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
